.flexContainer {
    min-height: 100vh;
    background: #B7BABE;
}

.container {
    padding-top: 40px;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
}

.flexitem {
    position: relative;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.project {
    border: 1px solid black;
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    background: #B7BABE;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 570px) {
    .project {
        width: 320px;
    }
}
